.footer {
  padding-top: 4rem;
  background-color: $color-grey-dark;
  color: white;
  font-size: 1.4rem;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media only screen and (max-width: $screen-large) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }
    @media only screen and (max-width: $screen-small) {
      grid-template-columns: 1fr;
      gap: 4rem;
      text-align: center;
    }
    padding: 4rem 0;
    align-items: start;
    justify-items: center;
    h4 {
      font-size: 1.6rem;
    }
    p {
      max-width: 24rem;
    }
    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
  &__info {
    &1 {
      &-logo-container {
        height: 4rem;
        img {
          height: 100%;
        }
      }
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $screen-small) {
        align-items: center;
      }
      gap: 4rem;
      &-location,
      &-phone,
      &-email {
        display: flex;
        gap: 1rem;
      }
    }
    &2 {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      @media only screen and (max-width: $screen-small) {
        align-items: center;
      }
      .socials {
        display: flex;
        gap: 1rem;
        svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
    &3 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      input {
        color: $color-grey-dark;
        height: 5rem;
        width: 100%;
        margin-bottom: 2rem;
        padding: 0 2rem;
        outline: none;
        &:focus {
          outline: 1px solid $color-primary;
        }
      }
      a,
      button {
        width: 100%;
      }
    }
    &4 {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      @media only screen and (max-width: $screen-small) {
        align-items: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        a:hover {
          color: $color-primary;
        }
        @media only screen and (max-width: $screen-small) {
          align-items: center;
        }
      }
    }
  }
  &__line {
    height: 1px;
    background-color: $color-grey-dark2;
    width: 100%;
  }
  .copyright {
    padding: 4rem 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: $color-grey-light3;
  }
}
